pandas
numpy
scikit-learn
matplotlib
seaborn
shap
fastapi
uvicorn[standard]
pydantic
joblib
typer
xgboost
lightgbm
pyyaml
sqlmodel
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pillow

